{% load static %}
{% load i18n %}
<!-- navbar -->
    <nav class="navbar navbar-expand-lg sticky-top nav-color m-0 p-1">
        <div class="container-fluid">
            <a class="navbar-brand d-none d-lg-inline-block ms-4" href="#">
                <img src="{% static 'main/bug.png' %}" alt="Brand" style="width: 35px; height:35px;">
                {% trans "Bug Tracker" %}
            </a>
            <!-- Navbar logo -->
            <a class="navbar-brand d-lg-none d-inline-block ms-2" href="#">
                <img src="{% static 'main/bug.png' %}" alt="Brand" style="width: 35px; height:35px;">
                {% trans "Bug Tracker" %}
            </a>
            <!-- Navbar logo -->
            <!-- Navbar Toggle -->
                <a class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
                    aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                    &#9776;
                </a>
            <!-- Navbar Toggle -->

            <div class="collapse navbar-collapse me-3" id="navbarToggler">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item ms-auto">
                        <a href="#" class="nav-link p-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                class="bi bi-bell-fill" viewBox="0 0 16 16">
                                <path
                                    d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z" />
                            </svg>
                            <span class="badge bg-secondary">9</span>
                        </a>
                    </li>
                    <li class="nav-item ms-auto">
                        <a href="{% url 'user:password_change' %}" class="nav-link ms-3 p-2">{% trans "Change Password" %}</a>
                    </li>
                    {% comment %} <li class="nav-item">
                        <a href="#" class="nav-link m-2 menu-item">Blog</a>
                    </li> {% endcomment %}
                    <li class="nav-item ms-auto">
                        <a href="{% url 'user:logout' %}" class="nav-link ms-3 p-2">{% trans "Log Out" %}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
