{% load static %}
{% load i18n %}
<!-- Sidebar -->
    <nav id="sidebar">
        <!-- Sidebar close button -->
        <button type="button" id="close-side" onclick="closeSide()">
            <i class="fas fa-arrow-left"></i>
        </button>
        <!-- Sidebar close button -->

        <!-- Sidebar Open button-->
        <button type="button" class="border-0" id="open-side" onclick="openSide()">
            <i class="fas fa-arrow-right"></i>
        </button>
        <!-- Sidebar Open button-->

        <div class="sidebar-header text-center">
            <div class="img-container w-50 mx-auto">
                <a href="{% url 'user:profile' %}">
                    <img id="sidebar-avatar" src="{{ user.profile.image.url }}" alt="Profile Image">
                </a>
            </div>
            <div class="mt-3 mb-4">
                <h3>{% trans "Welcome, " %}<strong>{% trans user.username %}</strong></h3>
            </div>
        </div>

        <ul class="sidebar-nav">
            <li>
                <div class="dropdown">
                    <a href="#homeSubmenu" data-bs-toggle="collapse" aria-expanded="false"
                        aria-controls="homeSubmenu" class="dropdown-toggle">{% trans "Dashboard" %}</a>
                </div>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Home 1</a>
                        </li>
                        <li>
                            <a href="#">Home 2</a>
                        </li>
                        <li>
                            <a href="#">Home 3</a>
                        </li>
                    </ul>
            </li>
            <li id="projects">
                <a href="{% url 'main:project-list' %}" id="myprojects">{% trans "My Projects" %}</a>
            </li>
            <li>
                <div class="dropdown">
                    <a href="#pageSubmenu" data-bs-toggle="collapse" aria-expanded="false"
                        aria-controls="pageSubmenu" class="dropdown-toggle">My Tickets</a>
                </div>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
            </li>
            <li id="profile">
                <a href="{% url 'user:profile' %}">{% trans "Profile" %}</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </nav>
    <div id="overlay"></div>

<script>
    window.onresize = windowSizeCheck;
    const overlay = document.getElementById("overlay")
    const sidebar_open_btn = document.getElementById("open-side")
    overlay.addEventListener("click", e=>{
        closeSide()
    })
    function openSide() {
        var w = window.innerWidth;
        document.getElementById(
            "sidebar").style.marginLeft = "0px";
        document.getElementById(
            "content").style.marginLeft = "250px";
        document.getElementById(
            "open-side").style.display = "none";
        if (w <= 960) {
            document.getElementById(
            "overlay").classList.add("active");
            document.getElementById(
            "content").style.marginLeft = "0px";
        }
    }
    function closeSide() {
        document.getElementById(
            "sidebar").style.marginLeft = "-250px";
        document.getElementById(
            "content").style.marginLeft = "0px";
        document.getElementById(
            "open-side").style.display = "block";
        document.getElementById(
            "overlay").classList.remove("active");
    }
    function windowSizeCheck() {
        var w = window.innerWidth;
        var x = document.getElementById("sidebar");
        if (w <= 960 && x.style.marginLeft == "0px") {
            document.getElementById(
            "overlay").classList.add("active");
            document.getElementById(
            "content").style.marginLeft = "0px";
        }
    }
</script>


