{% extends 'user/user_base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

{% comment %} THIS IS THE REDIRECT META TAG {% endcomment %}
<meta http-equiv="refresh" content="4;url={% url 'login' %}">
{% comment %} END  {% endcomment %}

<div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 m-auto">
    <div class="alert alert-info text-center">
        {% trans "Your password has been Updated. Please sign in." %}<br>
        {% trans "If the page doesn't automatically redirect," %}
        <a class="link-bl" href="{% url 'login' %}">{% trans "Press Here" %}</a>
    </div>
</div>


<script type="text/javascript">

    function pageRedirect(){
        var delay = 4000;
        setTimeout(function() {
        window.location.href = '/login/';
        }, delay);
    }

    window.onload = pageRedirect;
</script>
{% endblock content %}
