{% extends 'user/user_base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 form-card">
    <form method="POST" class="row row-no-gutters">
        {% csrf_token %}
        <div class="col-12 form-card-brand">
            <legend class="brand-title pt-2 mb-3 text-center">
                {% translate 'RESET PASSWORD' %}</legend>
        </div>
        {% for field in form %}
            <div class="col-12 form-group pb-3">
                <input type="email"
                    name="{{ field.name }}" class="textinput textInput form-control form-input" placeholder="{{ field.label }}"
                    id="id_{{ field.name }}" required>
            <!-- 這裡的error_message要用 |striptags，才能取得錯誤訊息 -->
            {% if form.errors %}
                {% for error_message in field.errors %}
                    <p class="invalid-feedback d-block"> <strong>{{ error_message|striptags }}</strong></p>
                {% endfor %}
            {% endif %}
            </div>
        {% endfor %}
        <div class="col-12 text-center form-group mt-3 pb-3">
            <button class="btn btn-lg custom-btn" type="submit">{% trans "Send Reset Email" %}</button>
        </div>
    </form>
</div>
{% endblock content %}
