{% extends 'main/base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<style>
    .edit-button {
        position: absolute;
        display: block;
        overflow: hidden;
        width: 17%;
        height: 17%;
        border-radius: 50%;
        border: 1px solid #b1bce6;
        top: 0;
        left: 70%;
        background: #b1bce6;
        cursor: pointer;
    }
    .edit-button svg {
        position: absolute;
        top: 0px;
        left: 0px;
    }
    .image-upload>input {
        display: none;
    }
    .img-explorer-container {
        width: 324px;
        margin: 0 auto;
    }
    .img-explorer-view {
        width: 320px;
        height: 320px;
        position: relative;
        overflow: hidden;
        padding: 0;
        border: 3px dashed #DFE1E6;
    }
    .img-mask {
        box-shadow: 0 0 0 100px rgba(0,0,0,.4);
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -128px;
        margin-top: -128px;
    }
    .circle-mask {
        width: 256px;
        height: 256px;
        border-radius: 128px;
        background-clip: padding-box;
    }

    .crop-mask {
        width: 256px;
        height: 256px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -128px;
        margin-top: -128px;
    }


    #preview-img-area {
        position: absolute;
    }
    .img-drag-zone {
        width: 100%;
        height: 100%;
        position: absolute;
        cursor: move;
        z-index: 50000;
        background-color: rgba(0,0,0,0);
    }
</style>
<h2 class="text-center brand-title">{% trans "My Profile" %}</h2>
<div class="container-fluid">
<div class="row form-card mx-auto mt-4 ">
    <div class="col-12">
        <form id="profile-form" method="POST" class="row g-1">
            {% csrf_token %}
            <div class="col-6 offset-3 my-3 text-center">
                <div class="img-container">
                    <img src="{{ user.profile.image.url }}" id="profile-img"/>
                    <label class="edit-button image-upload" data-bs-toggle="modal" data-bs-target="#image-modal">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="white" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                    </label>
                    <a class="btn position-absolute bottom-0 end-0 p-0"
                        id="delete-icon"
                        data-bs-toggle="modal" data-bs-target="#delete-modal">
                        <i class="bi bi-trash"
                            style="font-size:1.4rem;">
                        </i>
                        <i class="bi bi-trash-fill d-none"
                            style="font-size:1.4rem;">
                        </i>
                    </a>
                </div>
            </div>
            {% for field in u_form %}
                {% if field.name == 'last_name' %}
            <div class="col-6 mb-3">
                {% elif field.name == 'first_name' %}
            <div class="col-6 mb-3">
                {% else %}
            <div class="col-12 mb-3">
                {% endif %}
                <div class="form-floating">
                    <input type="text"
                        class="form-control form-input user-input"
                        id="{{ field.id_for_label }}"
                        name="{{ field.name }}"
                        {% if field.name == 'username' %}
                        value="{{ user.username }}"
                        {% elif field.name == 'first_name' %}
                        value="{{ user.first_name }}"
                        {% elif field.name == 'last_name' %}
                        value="{{ user.last_name }}"
                        {% else %}
                        value="{{ user.email }}"
                        {% endif %}
                        placeholder="{{ field.label }}">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                </div>
                {% if u_form.errors %}
                    {% for error_message in field.errors %}
                    <div class="text-left">
                        <p class="invalid-feedback d-block mb-0"> <strong>{{ error_message| striptags }}</strong></p>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
            {% endfor %}
            <div class="invalid-feedback text-center m-0 mb-1" id="alert-str">
                <strong>{% trans "Notice : Press the button below to apply." %}</strong>
            </div>
            <div class="col-12 form-group text-center my-4">
                <button class="btn btn-lg custom-btn" type="submit">{% trans "Update Profile" %}</button>
            </div>
        </form>
    </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="image-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold text-dark" id="staticBackdropLabel">{% trans "Upload Account Image" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="img-explorer-container">
                    <div class="img-explorer-view">
                        <div class="crop-mask">
                            <img src="" id="preview-img-area" style="top:50%; left:50%;">
                        </div>
                        <div class="img-mask circle-mask"></div>
                        <div id="img-drag" class="img-drag-zone"></div>
                    </div>
                </div>
                <input type="range" id="ranger" class="form-range mt-4 px-5" min="0" max="100" step="1" value="0">
                <div class="text-center">
                    <label for="id_image" class="btn custom-btn" type="button">{% trans "Select an image" %}</label>
                    <div class="text-muted">{% trans "JPG, GIF or PNG image" %}</div>
                    <input type="file" name="image" accept="image/*" id="id_image" class="d-none img-input">
                </div>
            </div>
            <div class="modal-footer">
                {% csrf_token %}
                <button type="button" class="btn custom-btn" data-bs-dismiss="modal" id="img-save-btn">{% trans "Save" %}</button>
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete Modal -->
<div class="modal fade text-dark" id="delete-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-danger" id="staticBackdropLabel">{% trans "Confirm Deletion" %}</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% trans "Do you sure that you want to delete your avatar ?" %}
      </div>
      <div class="modal-footer">
        {% csrf_token %}
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
        <button type="button" class="btn btn-danger" id="avatar-delete-btn" data-bs-dismiss="modal">{% trans "Delete" %}</button>
      </div>
    </div>
  </div>
</div>
<!-- End -->
{% endblock content %}

{% block javascripts %}
<script>
(function() {
    window.onload = functionProfile;
    var alertBox = document.querySelector('.alert-box');
    var profile_img = document.getElementById('profile-img');
    var sidebarAvatar = document.getElementById('sidebar-avatar');
    var csrf = document.getElementsByName('csrfmiddlewaretoken');
    var preview_img = document.getElementById('preview-img-area');
    var img_drag_zone = document.querySelector(".img-drag-zone")
    var alert_str = document.getElementById('alert-str');
    var ranger = document.getElementById("ranger");
    var img_save_btn = document.getElementById("img-save-btn")
    var img_input = document.querySelector(".img-input")
    var user_input = document.querySelector(".user-input")
    var avatar_delete_btn = document.getElementById("avatar-delete-btn")
    var delete_icon = document.getElementById("delete-icon")
    var natural_w, natural_h, initial_ranger, initial_diagnal
    var max_size = 256;

    dragElement(img_drag_zone);

    user_input.addEventListener("change", () => {
        showUpdateApplyAlert()
    })
    img_input.addEventListener("change", e => {
        showImage(e.target)
    })
    ranger.addEventListener("change", e => {
        imageResize(e.target)
    })
    img_save_btn.addEventListener("click", () => {
        doCapture()
    })
    avatar_delete_btn.addEventListener("click", () => {
        avatarDelete()
    })
    ["mouseenter","mouseleave"].forEach(event => {
        delete_icon.addEventListener(event, () => {
            delete_icon.children[0].classList.toggle("d-none")
            delete_icon.children[1].classList.toggle("d-none")
        })
    })
    function handleAlerts(type, text) {
        alertBox.innerHTML =
        `<div class="alert bg-${type} alert-dismissible fade show text-center" role="alert">
            <strong class="text-white">${text}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>`
    }
    function avatarDelete() {
        $.ajax({
            type: "POST",
            url: "{% url 'user:avatar-delete' %}",
            data: {
                'csrfmiddlewaretoken': csrf[2].value
            },
            success: function(response) {
                profile_img.src = response["default_image_url"]
                sidebarAvatar.src = response["default_image_url"]
                handleAlerts("danger", response["status"])
            },
            error: function (error) {
                console.log(error)
            }
        })
    }
    function doCapture() {
        let img_count = img_input.files.length
        let url = ""
        if (img_count){
            html2canvas(document.querySelector(".crop-mask")).then(function (canvas) {
            // Get the image data as JPEG and 0.9 quality (0.0 - 1.0)
                profile_img.src = canvas.toDataURL("image/jpeg", 0.9)
                sidebarAvatar.src = canvas.toDataURL("image/jpeg", 0.9)
                canvas.toBlob((blob)=>{
                    let fd = new FormData()
                    fd.append('image', blob, '{{ user.username }}.png')
                    fd.append('csrfmiddlewaretoken', csrf[1].value)
                    $.ajax({
                        type:'POST',
                        url: url,
                        enctype: 'multipart/form-data',
                        data: fd,
                        success: function(response){
                            const sText = `Successfully change profile image. `
                            handleAlerts('success', sText)
                            setTimeout(()=>{
                                alertBox.innerHTML = ""
                            }, 3000)
                        },
                        error: function(error){
                            handleAlerts('danger', 'Oops..something went wrong.')
                        },
                        cache: false,
                        contentType: false,
                        processData: false,
                    })
                })
            })
        }
    }
    function functionProfile(){
        document.querySelector("#profile").classList.toggle("active");
    }
    function showUpdateApplyAlert(){
        alert_str.classList.add('d-block');
    }
    function showImage(element){
        const reader = new FileReader();
        //Read the contents of Image File.
        reader.readAsDataURL(element.files[0]);
        reader.onload = function (e) {
            //Initiate the JavaScript Image object.
            const image = new Image();
            //Set the Base64 string return from FileReader as source.
            image.src = e.target.result;
            //Validate the File Height and Width.
            image.onload = function () {
                let height = this.height;
                let width = this.width;
                natural_w = width;
                natural_h = height;
                if (width < height) {
                    if (width >= max_size){
                        natural_w = width;
                        natural_h = height;
                        height *= max_size / width;
                        width = max_size;
                    }else{
                        natural_h *= max_size / width;
                        natural_w = max_size;
                        height *= max_size / width;
                        width = max_size;
                    }
                } else {
                    if (height >= max_size){
                        natural_w = width;
                        natural_h = height;
                        width *= max_size / height;
                        height = max_size;
                    }else{
                        natural_w *= max_size / height;
                        natural_h = max_size;
                        width *= max_size / height;
                        height = max_size;
                    }
                }
                initial_ranger = (100*height)/natural_h;
                initial_diagnal = Math.sqrt(Math.pow(width,2) + Math.pow(height,2));
                ranger.value = initial_ranger;
                preview_img.src = e.target.result;
                preview_img.style.width = width + "px";
                preview_img.style.height = height + "px";
                preview_img.style.marginLeft = -width/2 + "px";
                preview_img.style.marginTop = -height/2 + "px";
                preview_img.style.top = "50%";
                preview_img.style.left = "50%";
            };
        }
    }
    function imageResize(element){
        let diagnal = Math.sqrt(Math.pow(preview_img.width,2) + Math.pow(preview_img.height,2));
        if (element.value >= 0 & element.value <= initial_ranger){
            factor = (((element.value*(initial_diagnal-256)) / initial_ranger) + 256) / diagnal;
            let width = preview_img.width * factor;
            let height = preview_img.height * factor;
            preview_img.style.width = width + "px";
            preview_img.style.height = height + "px";
            preview_img.style.marginLeft = -width/2 + "px";
            preview_img.style.marginTop = -height/2 + "px";
        }else{
            let width = (natural_w / 100) * element.value;
            let height = (natural_h / 100) * element.value;
            preview_img.style.width = width + "px";
            preview_img.style.height = height + "px";
            preview_img.style.marginLeft = -width/2 + "px";
            preview_img.style.marginTop = -height/2 + "px";
        }
    }
    function dragElement(elmnt) {
        var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
        elmnt.onmousedown = dragMouseDown;
        function dragMouseDown(e) {
            e = e || window.event;
            e.preventDefault();
            // get the mouse cursor position at startup:
            pos3 = e.clientX;
            pos4 = e.clientY;
            document.onmouseup = closeDragElement;
            // call a function whenever the cursor moves:
            document.onmousemove = elementDrag;
        }
        function elementDrag(e) {
            e = e || window.event;
            e.preventDefault();
            // calculate the new cursor position:
            pos1 = pos3 - e.clientX;
            pos2 = pos4 - e.clientY;
            pos3 = e.clientX;
            pos4 = e.clientY;
            // set the element's new position:
            preview_img.style.top = (preview_img.offsetTop - pos2 + preview_img.height/2) + "px";
            preview_img.style.left = (preview_img.offsetLeft - pos1 + preview_img.width/2) + "px";
        }
        function closeDragElement() {
            // stop moving when mouse button is released:
            document.onmouseup = null;
            document.onmousemove = null;
        }
    }
})();

</script>
{% endblock javascripts %}


