{% extends 'user/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 form-card">
    <form method="POST" class="row">
        {% csrf_token %}
        <div class="col-12 form-card-brand mb-4">
            <legend class="brand-title text-center">
                {% trans "Bug Tracker" %}
                <img src="{% static 'main/bug.png' %}" alt="Brand">
            </legend>
        </div>
        {% for field in form %}
            {% if field.name == 'password1' or field.name == 'password2' %}
                <div class="col-12 pb-3">
            {% elif field.name == 'first_name' or field.name == 'last_name' %}
                <div class="col-6 pb-3">
            {% else %}
                <div class="col-12 pb-3">
            {% endif %}
                <div class="form-floating">
                    <input
                        {% if field.name == 'email' %}
                            type="email"
                        {% elif field.name == 'password1' or field.name == 'password2' %}
                            type="password"
                        {% else %}
                            type="text"
                        {% endif %}
                        name="{{ field.name }}"
                        {% if field.name != 'password2' %} placeholder="{{ field.label|escape }}"
                        {% else %} placeholder="Enter Password Again" {% endif %}
                        {% if field.value and field.name != 'password1' and field.name != 'password2' %}
                            value="{{ field.value }}"
                        {% endif %}
                        class="form-control form-input {% if field.errors %}is-invalid{% endif %}"
                        id="{{ field.id_for_label }}" required>
                    {% if field.name == 'password1' or field.name == 'password2' %}
                    <i class="fas fa-eye-slash togglePassword" id="{{ field.name }}" onclick="togglePassword(this)"></i>
                    {% endif %}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                </div>
                {% if form.errors %}
                    {% for error_message in field.errors %}
                <!--這裡的error_message要用 |striptags，才能取得錯誤訊息-->
                <!--invalid-feedback後面要加d-block才會強制顯示錯誤訊息，否則有可能不會顯示-->
                    <p class="invalid-feedback d-block"><strong>{{ error_message|striptags }}</strong></p>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
        <div class="col-12 text-center form-group mb-3">
            <button class="btn btn-lg custom-btn" type="submit">Sign Up</button>
        </div>
    </form>
    <div class="border-top pt-1 text-center">
        <small class="text-muted">
            Already Have An Account? <a class="link-bl ml-2" href="{% url 'user:login' %}">Sign In</a>
        </small>
    </div>
</div>
{% endblock content %}
{% block javascripts %}
<script type="text/javascript">
    function togglePassword(element){
        var password_field = element.previousElementSibling;
        const type = password_field.getAttribute('type') === 'password' ? 'text' : 'password';
        password_field.setAttribute('type', type);
        element.classList.toggle('fa-eye-slash');
        element.classList.toggle('fa-eye');
    }
</script>
{% endblock javascripts %}

