{% extends 'user/user_base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="col-6 offset-3 form-card px-4">
    <form method="POST" class="row">
        {% csrf_token %}
        <div class="col-12 form-card-brand">
            <legend class="brand-title mb-2 text-center">
                {% trans "Bug Tracker" %}
                <img src="{% static 'main/bug.png' %}" alt="Brand"></legend>
        </div>
        {% for field in form %}
            {% if field.name == 'password1' or field.name == 'password2' %}
                <div class="col-12 form-group password-form pb-3">
            {% elif field.name == 'first_name' or field.name == 'last_name' %}
                <div class="col-6 form-group pb-3">
            {% else %}
                <div class="col-12 form-group pb-3">
            {% endif %}
                {{ field.label_tag }}
                <input
                    {% if field.name == 'email' %}
                        type="email"
                    {% elif field.name == 'password1' or field.name == 'password2' %}
                        type="password"
                    {% else %}
                        type="text"
                    {% endif %}
                    name="{{ field.name }}"
                    {% if field.name != 'password2' %} placeholder="{{ field.label|escape }}"
                    {% else %} placeholder="Enter Password Again" {% endif %}
                    {% if field.value and field.name != 'password1' and field.name != 'password2' %}
                        value="{{ field.value }}"
                    {% endif %}
                    class="textinput textInput form-control form-input {% if field.errors %}invalid{% endif %}"
                    id="id_{{ field.name }}" required>
                {% if form.errors %}
                    {% for error_message in field.errors %}
                <!--這裡的error_message要用 |striptags，才能取得錯誤訊息-->
                <!--invalid-feedback後面要加d-block才會強制顯示錯誤訊息，否則有可能不會顯示-->
                    <p class="invalid-feedback d-block"><strong>{{ error_message|striptags }}</strong></p>
                    {% endfor %}
                {% endif %}
                {% if field.name == 'password1' or field.name == 'password2' %}
                <i class="fas fa-eye-slash togglePassword" id="{{ field.name }}" onclick="togglePassword(this)"></i>
                {% endif %}

            </div>
        {% endfor %}
        <div class="col-12 text-center form-group mb-3">
            <button class="btn btn-lg custom-btn" type="submit">Sign Up</button>
        </div>
    </form>
    <div class="border-top pt-1 text-center">
        <small class="text-muted">
            Already Have An Account? <a class="link-bl ml-2" href="{% url 'login' %}">Sign In</a>
        </small>
    </div>
</div>

<script type="text/javascript">
    function togglePassword(element){
        var password_field_1 = document.getElementById('id_password1');
        var password_field_2 = document.getElementById('id_password2');
        if (element.id === "password1"){
            let type_a = password_field_1.getAttribute('type') === 'password' ? 'text' : 'password';
            password_field_1.setAttribute('type', type_a);
        }else{
            let type_b = password_field_2.getAttribute('type') === 'password' ? 'text' : 'password';
            password_field_2.setAttribute('type', type_b);
        }
        element.classList.toggle('fa-eye-slash');
        element.classList.toggle('fa-eye');
    }
</script>
{% endblock %}
