{% extends 'user/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST" class="row row-no-gutters was-validated">
        {% csrf_token %}
          <div class="col-12">
              <legend class="border-bottom pb-1 mb-2 text-center">{% translate 'Register' %}</legend>
          </div>
        {% for field in form %}
            {% if field.name != 'first_name' and field.name != 'last_name' %}
                <div class="col-12 form-group">
            {% else %}
                <div class="col-6 form-group">
            {% endif %}
                {{ field.label_tag }}
                {% blocktrans asvar the_placeholder %}Enter {{ field.label|escape }} {% endblocktrans %}
                <input {% if field.name == 'email' %}
                        type="email"
                        {% elif field.name == 'password1' or field.name == 'password2'%}
                        type="password"
                        {% else %}
                        type="text"
                        {% endif %}
                        name="{{ field.name }}"
                        {% if field.name != 'password2' %}
                            placeholder="Enter {{ field.label|escape }}"
                        {% else %}
                            placeholder="Enter Password Again"
                        {% endif %}
                        class="textinput textInput form-control"
                        required
                        id="id_{{ field.name }}">
                {% if form.errors %}
                    {% for error_message in field.errors %}
<!--                    這裡的error_message要用 |striptags，才能取得錯誤訊息-->
                        <p class="invalid-feedback"><strong>{{ error_message|striptags }}</strong></p>
                    {% endfor %}
                {% endif %}
                </div>
        {% endfor %}

        <div class="col-12 form-group">
            <button class="btn btn-outline-info my-auto" type="submit">Sign Up</button>
        </div>
    </form>
    <div class="border-top pt-1">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="#">Sign In</a>
        </small>
    </div>
</div>
{% endblock %}
