{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<h2 class="text-center mt-4 p-0 brand-title">{% trans "My Profile" %}</h2>
<div class="container-fluid text-center">
  <div class="row pt-2 mx-auto mt-4 form-card">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col"></th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock content %}
