<!-- Delete Modal -->
<div class="modal fade text-dark" id="delete-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-danger" id="staticBackdropLabel">{% trans "Confirm Deletion" %}</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% trans "Do you sure that you want to delete your avatar ?" %}
      </div>
      <div class="modal-footer">
        {% csrf_token %}
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
        <button type="button" class="btn btn-danger" onclick="avatarDelete()">{% trans "Delete" %}</button>
      </div>
    </div>
  </div>
</div>
