{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<h2 class="text-center brand-title">{% trans "My Projects" %}</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 my-auto">
      Show
      <select class="form-select-sm d-inline" id="per-page">
        <option value="10" selected>10</option>
        <option value="25">25</option>
        <option value="all">All</option>
      </select>
      Entries
    </div>
    <div class="col-lg-4 col-md-6 col-sm-8 ms-auto mb-3">
      <div class="row g-0">
        <div class="col">
          <input class="form-control border-secondary border-end-0 rounded-0 rounded-start"
                  id="search-input"
                  type="search"
                  placeholder="Search...">
        </div>
        <div class="col-auto">
          <div class="btn bg-white border-secondary border-start-0 rounded-0 rounded-end">
              <i class="fa fa-search"></i>
          </div>
        </div>
        <div class="col-auto ms-3">
          <button class="btn btn-info">
            <i class="bi bi-funnel-fill"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 overflow-auto">
      <table id="myTable" class="table table-hover table-light align-middle text-center">
        <thead>
          <tr class="table-info fs-5">
            <th class="sortable d-none">ID</th>
            <th class="sortable"><i class="bi bi-heart-fill" style="color:red;"></i></th>
            <th class="sortable searchable">Title</th>
            <th class="sortable searchable">Create Date</th>
            <th class="sortable searchable">Manager</th>
            <th class="sortable searchable d-none d-md-table-cell">Open Tickets</th>
            <th><button class="btn btn-secondary btn-sm" id="reset-btn">Reset</button></th>
          </tr>
        </thead>
        <tbody>
        {% for project in projects %}
        {% csrf_token %}
          <tr>
            <td class="d-none">{{ project.id }}</td>
          {% if request.user in project.liked.all %}
            <td data-order="0">
              <i role="button"
                  class="bi bi-heart-fill"
                  id="like-btn"
                  style="color: red;"
                  data-value="{{ project.id }}"
                  data-url="{% url 'main:project-like-unlike' %}"
                  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Remove from favourite">
              </i>
          {% else %}
            <td data-order="1">
              <i role="button"
                  class="bi bi-heart"
                  id="like-btn"
                  style="color: red;"
                  data-value="{{ project.id }}"
                  data-url="{% url 'main:project-like-unlike' %}"
                  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add to favourite">
              </i>
          {% endif %}
            {% csrf_token %}
            <td data-search="{{ project.title }}">
              <h4>{{ project.title }}</h4>
            </td>
            </td>
            <td data-order="{{ project.date_created | date:"U" }}">
              {{ project.date_created | date:"m/j" }}
              <p class="d-none d-md-inline-block">{{ project.date_created | date:"Y" }}</p>
            </td>
            {% if request.user in project.manager.all %}
            <td data-order="0" data-search="{{ request.user.get_full_name }}">
              <a class="btn btn-outline-secondary btn-sm border-0" id="manage-btn" href="#">
                <div class="text-decoration-underline fs-6">
                  <img class="ui avatar image d-none d-md-inline-block" src="{{ request.user.profile.image.url }}">
                  {{ request.user.get_full_name }}
                </div>
                <div class="d-none fs-6">
                  <i class="bi bi-person-lines-fill d-none d-md-inline-block"></i>
                  Manage
                </div>
              </a>
            {% else %}
            <td data-order="1" data-search="{{ project.get_manager_name_set }}">
              {% for manager in project.manager.all %}
                <div class="text">
                  <img class="ui avatar image d-none d-md-inline-block" src="{{ manager.profile.image.url }}">
                  {{ manager.get_full_name }}
                </div>
              {% endfor %}
            {% endif %}
            </td>
            <td class="d-none d-md-table-cell">
              {{ project.num_tickets }}
            </td>
            <td class="unmarkable">
              <a class="btn btn-primary d-none d-lg-block" href="#">
                Detail
              </a>
              <a class="btn btn-primary d-lg-none d-inline-block" href="#">
                <i class="bi bi-arrow-right"></i>
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td class="d-none"></td>
            <td></td>
            <td>Title</td>
            <td>Creat Date</td>
            <td>Manager</td>
            <td class="d-none d-md-table-cell">Open Tickets</td>
            <td></td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="col-md-8 col-sm-12 ms-auto mb-3">
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-end">
          <li class="page-item" data-page="previous">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item" data-page="next">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
{% endblock content %}
{% block javascripts %}
<script>
  (function() {
    var filterObject = {
      "Title": [["contains", "icontain"]],
      "Create date": [["before", "lt"], ["since", "gte"], ["on", "exact"]],
      "Manager": [["contain", "icontain"]]
    };
    window.onload = functionProjects;
    var table = document.getElementById("myTable");
    var rows = Array.from(document.getElementsByTagName("tr"));
    var headers = Array.from(document.getElementsByTagName("th"));
    rows = rows.slice(1, -1);
    var reset_btn = document.getElementById("reset-btn");
    var manage_btn = document.querySelectorAll("#manage-btn");
    var paginator = document.querySelector(".pagination");
    var page_index, page_array, num_pages, per_page, rows_rendered_all
    var per_page_obj = document.querySelector("#per-page");
    var like_btns = Array.from(document.querySelectorAll("#like-btn"));
    var search_input = document.getElementById("search-input");
    var Marker = new Mark(rows)
    initTableSort()
    initPagination()
    renderTable()
    function functionProjects() {
      document.querySelector("#projects").classList.toggle("active");
    }
    manage_btn.forEach(item => {
      item.addEventListener("mouseenter", e => {
        item.children[0].classList.toggle("d-none")
        item.children[1].classList.toggle("d-none")
      })
      item.addEventListener("mouseleave", e => {
        item.children[0].classList.toggle("d-none")
        item.children[1].classList.toggle("d-none")
      })
    })
    search_input.addEventListener("keyup", e => {
      table_loading(table.tBodies[0])
      setTimeout(() => {
        let value = e.target.value.toUpperCase()
        filter(value)
        initPagination()
        renderTable()
      }, 400)
    })
    like_btns.forEach(item => {
      item.addEventListener("click", e => {
        let url = item.getAttribute("data-url")
        let id = item.getAttribute("data-value")
        $.ajax({
          type: 'POST',
          url: url,
          data: {
            'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
            'project_id': id
          },
          success: function (response) {
            item.classList.toggle("bi-heart")
            item.classList.toggle("bi-heart-fill")
            if (item.classList.contains("bi-heart-fill")) {
              item.setAttribute('title', 'Remove from favourite')
              item.parentNode.setAttribute("data-order", "0")
            } else {
              item.setAttribute('title', 'Add to favourite')
              item.parentNode.setAttribute("data-order", "1")
            }
          },
          error: function (response) {
            console.log("error")
          }
        })
      })
    })
    per_page_obj.addEventListener("change", e => {
      initPagination()
      renderTable()
    })
    reset_btn.addEventListener("click", () => {
      resetSort()
      filter("")
      initTableSort()
      initPagination()
      renderTable()
      search_input.value = ""
    })
    headers.forEach((item, index) => {
      item.addEventListener('click', ()=>{
        if (item.classList.contains("sortable")) {
          resetSort(index)
          if (item.classList.contains("asc")) {
            sort(0, "asc")
            sort(index, "desc")
          } else {
            sort(0, "asc")
            sort(index, "asc")
          }
          get_rows_rendered_all()
          renderTable()
        }
      })
    })
    function table_loading(element) {
      element.innerHTML = `<td colspan="${headers.length}">`+
                            '<h2 class="text-muted">'+
                              '<div class="spinner-border text-muted me-3" role="status">'+
                                '<span class="visually-hidden">Loading...</span>'+
                              '</div>'+
                              'Loading...'+
                            '</h2>'+
                          '</td>'
    }
    function initTableSort() {
      sort(0, "asc")
      sort(undefined, "desc")
      sort(1, "asc")
    }
    function get_rows_rendered_all() {
      rows_rendered_all = []
      rows.forEach((item) => {
        if (item.style.display != "none") {
          rows_rendered_all.push(item)
        }
      })
    }
    function initPagination() {
      get_rows_rendered_all()
      per_page = Number(per_page_obj.value) || rows_rendered_all.length
      num_pages = Math.ceil(rows_rendered_all.length / per_page);
      let last_child = paginator.querySelector("li:last-child")
      let first_child = paginator.querySelector("li:first-child")
      paginator.innerHTML=""
      paginator.appendChild(first_child)
      paginator.appendChild(last_child)
      if (num_pages <= 1) {
        first_child.style.display = "none"
        last_child.style.display = "none"
      } else {
        first_child.style.display = ""
        last_child.style.display = ""
      }
      for (let i=0; i<num_pages; i++) {
        let obj = document.createElement("li")
        obj.setAttribute("class", "page-item")
        obj.setAttribute("data-page", `${i+1}`)
        if (i == 0) {
          obj.classList.add("active")
        }
        obj.innerHTML = `<a class="page-link" href="#">${i+1}</a>`
        paginator.insertBefore(obj, last_child)
      }
      page_index = 1
      page_array = Array.from(paginator.querySelectorAll("li"))
      page_array.forEach(item => {
        item.addEventListener("click", e => {
          let current = paginator.querySelector("li.active")
          let current_value = current.getAttribute("data-page")
          let press = item.getAttribute("data-page")
          if (press == "previous") {
            if (current_value !== "1") {
              current.classList.remove("active")
              current.previousSibling.classList.add("active")
              page_index =  Number(current_value) - 1
            } else {
              page_index = 1
            }
          } else if (press == "next") {
            if (current_value !== num_pages.toString()) {
              current.classList.remove("active")
              current.nextSibling.classList.add("active")
              page_index = Number(current_value) + 1
            } else {
              page_index = Number(current_value)
            }
          } else {
            current.classList.remove("active")
            item.classList.add("active")
            page_index = Number(press)
          }
          renderTable()
        })
      })
    }
    function renderTable() {
      if (rows_rendered_all.length == 0) {
        table.tBodies[0].innerHTML = `<td colspan="${headers.length}">`+
                                        '<h2 class="text-muted">'+
                                            '<i class="bi bi-search me-2"></i>'+
                                            'No match found......'+
                                            '</br>'+
                                        '</h2>'+
                                        '<a class="btn border-0 text-primary text-decoration-underline" '+
                                            'id="clear-search">Clear Search</a>'+
                                      '</td>'
        document.getElementById("clear-search")
                .addEventListener("click", ()=>{
          search_input.value = ""
          filter("")
          initPagination()
          renderTable()
        })
      } else {
        let start = page_index * per_page - per_page
        let end = page_index * per_page
        let rows_rendered = rows_rendered_all.slice(start, end)
        table.tBodies[0].innerHTML = ""
        rows_rendered.forEach(row => table.tBodies[0].appendChild(row));
      }
    }
    function compareValues(a, b) {
      if (isNaN(Number(a)) || isNaN(Number(b))) {
        return a.localeCompare(b);
      }else {
        return (a<b) ? -1 : (a>b) ? 1 : 0;
      }
    }
    function resetSort(exclude_index=null) {
      for (let i=0; i<headers.length; i++) {
        if (!exclude_index) {
          headers[i].classList.remove("asc")
          headers[i].classList.remove("desc")
        } else if (i !== exclude_index) {
          headers[i].classList.remove("asc")
          headers[i].classList.remove("desc")
        }
      }
    }
    function sort(index=3, sortOrder) {
      let qs = `td:nth-child(${index+1})`
      rows.sort((r1, r2) => {
        let t1 = r1.querySelector(qs).getAttribute("data-order") || r1.querySelector(qs).textContent.trim();
        let t2 = r2.querySelector(qs).getAttribute("data-order") || r2.querySelector(qs).textContent.trim();
        return compareValues(t1, t2)
      })
      if (sortOrder == 'desc') {
        rows = rows.reverse()
        headers[index].classList.remove("asc")
        headers[index].classList.add("desc")
      } else {
        headers[index].classList.add("asc")
        headers[index].classList.remove("desc")
      }
    }
    function filter(value) {
      splits = value.trim().split(/\s+/)
      rows.forEach(item => item.style.display = "")
      Marker.unmark()
      for (let i=0; i<splits.length; i++) {
        Marker.mark(splits[i], {
          "exclude": [".unmarkable *"] //ignore the unmarkable and all it children
        })
        for (let j=0; j<rows.length; j++) {
          let columns = Array.from(rows[j].querySelectorAll("td"))
          let count = 0
          for (let k=0; k<columns.length; k++) {
            if (headers[k].classList.contains("searchable")) {
              let qs = columns[k].getAttribute("data-search") || columns[k].textContent.trim()
              if (qs.toUpperCase().includes(splits[i])) {
                count += 1
              }
            }
          }
          if (count == 0) {
            rows[j].style.display = "none"
          }
        }
      }
    }
  })();
</script>
{% endblock javascripts %}






