{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="ui centered stackable grid container">
  <div class="center aligned sixteen wide column">
    <h2 class="brand-title">{% trans "My Projects" %}</h2>
  </div>
  <div class="left floated four wide column">
    <button class="ui primary button rounded-pill">
      {% trans "Create Project" %}
    </button>
  </div>
  <div class="right aligned four wide column">
    <div class="ui search">
      <div class="ui fluid icon input">
        <input class="prompt" type="text" placeholder="Search...">
        <i class="search icon"></i>
      </div>
    </div>
  </div>
</div>
  <table id="myTable" class="ui striped yellow table">
    <thead>
      <tr>
        <th class="one wide"></th>
        <th class="one wide">Tickets</th>
        <th class="seven wide">Title</th>
        <th class="three wide">Creat Date</th>
        <th class="two wide">Manager</th>
        <th class="two wide"></th>
      </tr>
    </thead>
    <tbody>
    {% for project in projects %}
      <tr>
      {% if request.user in project.liked.all %}
        <td class="middle aligned content" data-order="0">
          <i role="button"
              class="center aligned ui heart icon red"
              data-value="{{ project.id }}"
              data-url="{% url 'main:project-like-unlike' %}"
              data-bs-toggle="tooltip" data-bs-placement="bottom" title="Remove from favourite">
          </i>
      {% else %}
        <td class="middle aligned content" data-order="1">
          <i role="button"
              class="center aligned ui heart icon outline"
              data-value="{{ project.id }}"
              data-url="{% url 'main:project-like-unlike' %}"
              data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add to favourite">
          </i>
      {% endif %}
        {% csrf_token %}
        </td>
        <td class="middle aligned content">
          <h2 class="ui green center aligned header">{{ project.open_ticket_count }}</h2>
        </td>
        <td class="middle aligned content">{{ project.title }}</td>
        <td class="middle aligned content">{{ project.date_created | date:"j/ N/ Y" }}</td>
        {% if request.user in project.manager.all %}
        <td class="middle aligned content" data-order="0" data-search="{{ request.user.get_full_name }}">
            <a class="ui small labeled icon button" href="#">
              <i class="user icon"></i>
              Manage
            </a>
        {% else %}
        <td class="middle aligned content" data-order="1" data-search="{{ project.get_manager_name_set }}">
          {% for manager in project.manager.all %}
            <div class="text">
              <img class="ui avatar image" src="{{ manager.profile.image.url }}">
              {{ manager.get_full_name }}
            </div>
          {% endfor %}
        {% endif %}
        </td>
        <td class="middle aligned content">
          <a class="ui small right labeled icon blue button" href="#">
            <i class="right arrow icon"></i>
            Detail
          </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th>Tickets</th>
        <th>Title</th>
        <th>Creat Date</th>
        <th>Manager</th>
        <th></th>
      </tr>
    </tfoot>
  </table>

<script>
  $(document).ready( function () {
    // Setup - add a text input to each footer cell
    $('tfoot th').each( function () {
        var title = $(this).text();
        if (title !== '') {
          $(this).html( '<div class="ui mini icon input">'+
                        '<input type="text" placeholder="Search  '+title+'..">'+
                        '<i class="search icon"></i>'+
                        '</div>' );
        }
    } );
    var table = $('#myTable').DataTable({
      initComplete: function () {
        // Apply the search
        this.api().columns().every( function () {
            var that = this;
            $( 'input', this.footer() ).on( 'keyup change clear', function () {
                if ( that.search() !== this.value ) {
                    that
                        .search( this.value )
                        .draw();
                }
            } );
        } );
      },
      dom: "<'ui centered stackable grid container'"+
                "<'sixteen wide column'tr>"+
                "<'left floated three wide column'l>"+
                "<'center aligned four wide column'i>"+
                "<'right aligned nine wide column'p>"+
            ">",
      pagingType: "full_numbers",
      order: [[0, 'asc'], [3, 'asc']],
      columnDefs :[
        {
          targets: 0,
          searchable: false
        },
        {
          targets: 3,
          className: 'single line'
        },
        {
          targets: -1,
          orderable: false,
          searchable: false
        },
      ]
    });
    $('input').on( 'keyup change clear', function () {
          table
            .search( this.value )
            .draw();
    } );
    $('.heart.icon').click(function () {
      const project_id = $(this).attr('data-value')
      const url = $(this).attr('data-url')
      var like_button = $(this)
      $.ajax({
        type: 'POST',
        url: url,
        data: {
          'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
          'project_id': project_id
        },
        success: function (response) {
          like_button.toggleClass("outline")
          like_button.toggleClass("red")
          if (like_button.hasClass("red")) {
            like_button.attr('title', 'Remove from favourite')
          } else {
            like_button.attr('title', 'Add to favourite')
          }
          console.log(response.data)
        },
        error: function (response) {
          console.log("error")
        }
      })
    })
  } );
</script>
{% endblock content %}
